@import "@fontsource/fraunces";

@import "tailwindcss";
@plugin '@tailwindcss/typography';

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@theme {
	--font-fraunces: "Fraunces", serif;

	--color-base-content: oklch(1 0 89.876);
	--color-base-100: oklch(0.136 0.016 298.547);
	--color-base-200: oklch(0.213 0.039 294.324);
	--color-base-300: oklch(0.315 0.069 292.642);

	--color-primary-content: oklch(1 0 89.876);
	--color-primary: oklch(0.574 0.223 24.109);

	--color-secondary-content: oklch(1 0 89.876);
	--color-secondary: oklch(0.325 0.13 13.937);
}

@layer base {
	.hyphens-auto {
		hyphenate-limit-chars: 8 4 4;
	}
}
