@import "@fontsource/fraunces";

@import "tailwindcss";
@plugin '@tailwindcss/typography';

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@theme {
	--font-fraunces: "Fraunces", serif;

	--color-base-content: oklch(1 0 89.876);
	--color-base-100: oklch(0.136 0.016 298.547);
	--color-base-200: oklch(0.213 0.039 294.324);
	--color-base-300: oklch(0.315 0.069 292.642);

	--color-primary-content: oklch(1 0 89.876);
	--color-primary: oklch(0.574 0.223 24.109);

	--color-secondary-content: oklch(1 0 89.876);
	--color-secondary: oklch(0.325 0.13 13.937);
}

@layer base {
	.hyphens-auto {
		hyphenate-limit-chars: 8 4 4;
	}
}

@layer utilities {
	.sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
		clip: rect(1px 1px 1px 1px);
		/* maybe deprecated but we need to support legacy browsers */
		clip: rect(1px, 1px, 1px, 1px);
		/* modern browsers, clip-path works inwards from each corner */
		clip-path: inset(50%);
		/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
		white-space: nowrap;
	}
}
