---
import BlogLayout from '../layouts/BlogPost.astro';
import Rose from "./_rose.png"
---

<BlogLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={Rose}>

	<h1 class="flex items-center">
		🚧
		<span class="text-center flex-1">Under Construction</span>
		🚧
	</h1>
	<p class="text-center">Description following soon,,,</p>

</BlogLayout>
