---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section class="prose md:prose-lg xl:prose-xl prose-invert max-w-none text-center">
		<h1>Welcome~~</h1>
		<p>This place is not a place of honor</p>
		<p>.. it is a place of sin, and pleasure,,,,</p>
		<p>
			If you are of the light hearted, of the traditional, a prude or are at work, you may avert your eyes.
			You will find only despair here.
		</p>
		<p>
			However, if you are looking for a good time, for a girl sharing her scandalous adventures, you are in
			for a treat.
		</p>
		<p>
			Proceed to the following pages at your own discretion... and have fun,,, 💜💜💜
		</p>
	</section>
</Layout>

