---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, "flex items-center justify-center gap-2 hover:border-secondary hover:border-b-4", { 'border-b-4 border-primary text-primary': isActive }]} {...props}>
	<slot />
</a>

