---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Socials from "./Socials.astro";
---

<header class="bg-base-300 p-4 lg:px-12">
	<nav class="grid grid-cols-3 place-items-center">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex gap-8">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<Socials/>
	</nav>
</header>
