---
const {class: className, ...props} = Astro.props;
---

<div class:list={[className, "flex gap-2"]}>
    <a href="https://pleasebite.me/@rose" rel="me" target="_blank">
        <span class="sr-only">Request to follow Rose on the Fediverse</span>
        <svg class="size-6 hover:text-primary" width="558" height="558" fill="currentColor" viewBox="0 0 558 558" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve">
            <path d="M105.275,207.753C99.69,218.449 90.935,227.163 80.213,232.699L217.801,370.823L250.971,354.013L105.275,207.753ZM286.757,389.936L253.587,406.747L323.303,476.735C328.889,466.037 337.645,457.321 348.37,451.786L286.757,389.936Z" />
            <path d="M368.053,301.882L373.796,338.618L461.929,293.951C453.481,285.334 447.897,274.314 445.945,262.406L368.053,301.882ZM322.834,324.797L138.662,418.135C147.111,426.752 152.696,437.773 154.648,449.683L328.577,361.535L322.834,324.797Z" />
            <path d="M174.737,268.375L200.975,294.715L295.069,111.026C283.171,109.014 272.18,103.374 263.606,94.882L174.737,268.375ZM151.624,313.499L106.609,401.376C118.506,403.389 129.496,409.028 138.069,417.519L177.86,339.837L151.624,313.499Z" />
            <path d="M79.449,233.085C68.654,238.48 56.452,240.412 44.518,238.613L70.803,406.741C81.597,401.346 93.798,399.414 105.73,401.212L79.449,233.085Z" />
            <path d="M154.788,450.515C156.572,462.45 154.627,474.649 149.22,485.437L317.319,512.412C315.534,500.477 317.48,488.278 322.887,477.49L154.788,450.515Z" />
            <path d="M384.931,446.038C396.831,448.051 407.823,453.691 416.398,462.184L493.985,310.713C482.086,308.7 471.094,303.059 462.52,294.565L384.931,446.038Z" />
            <path d="M356.699,80.331C351.113,91.029 342.356,99.745 331.632,105.28L451.79,225.901C457.375,215.203 466.131,206.488 476.855,200.952L356.699,80.331Z" />
            <path d="M95.136,139.7C103.585,148.317 109.169,159.336 111.121,171.245L263.013,94.266C254.565,85.65 248.982,74.631 247.029,62.724L95.136,139.7Z" />
            <path d="M331.355,105.42C320.606,110.907 308.419,112.943 296.471,111.246L309.925,197.402L346.638,203.293L331.355,105.42ZM317.745,247.49L349.557,451.189C360.398,445.884 372.616,444.056 384.534,445.956L354.46,253.379L317.745,247.49Z" />
            <path d="M111.229,171.891C113.055,183.819 111.153,196.024 105.783,206.831L192.006,220.679L208.953,187.585L111.229,171.891ZM259.006,195.622L242.057,228.72L445.782,261.439C444.029,249.499 446.006,237.304 451.442,226.529L259.006,195.622Z" />
            <path d="M251.594,50.374C251.541,51.339 251.515,52.305 251.515,53.271C251.515,82.495 275.563,106.543 304.786,106.543C332.918,106.543 356.449,84.259 357.979,56.169C358.031,55.204 358.058,54.238 358.058,53.271C358.058,24.048 334.01,0 304.786,0C276.655,0 253.124,22.284 251.594,50.374" />
            <path d="M450.51,250.061C450.458,251.026 450.432,251.992 450.432,252.958C450.432,282.182 474.479,306.229 503.703,306.229C531.834,306.229 555.365,283.946 556.895,255.856C556.948,254.891 556.974,253.925 556.974,252.958C556.974,223.735 532.927,199.687 503.703,199.687C475.571,199.687 452.04,221.971 450.51,250.061" />
            <path d="M322.024,500.896C321.971,501.861 321.945,502.827 321.945,503.793C321.945,533.017 345.992,557.065 375.216,557.065C403.348,557.065 426.878,534.781 428.408,506.691C428.461,505.726 428.487,504.76 428.487,503.793C428.487,474.57 404.44,450.522 375.216,450.522C347.084,450.522 323.554,472.806 322.024,500.896" />
            <path d="M43.698,456.234C43.645,457.199 43.619,458.165 43.619,459.132C43.619,488.355 67.666,512.403 96.89,512.403C125.022,512.403 148.552,490.119 150.082,462.029C150.135,461.064 150.161,460.098 150.161,459.132C150.161,429.908 126.114,405.86 96.89,405.86C68.758,405.86 45.228,428.144 43.698,456.234" />
            <path d="M0.169,177.796C0.117,178.761 0.091,179.727 0.091,180.693C0.091,209.917 24.138,233.965 53.362,233.965C81.493,233.965 105.024,211.681 106.554,183.591C106.607,182.626 106.633,181.66 106.633,180.693C106.633,151.47 82.586,127.422 53.362,127.422C25.23,127.422 1.699,149.706 0.169,177.796" />
        </svg>
    </a>
    <a href="https://github.com/rosebites/queen.pleasebite.me" target="_blank">
        <span class="sr-only">Go to the GitHub repo of queen.pleasebite.me</span>
        <svg class="size-6 hover:text-primary" viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
            <path
                    fill="currentColor"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path>
        </svg
        >
    </a>
</div>