---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={title} description={description} />
</head>
<body class="flex flex-col text-base-content bg-base-100 min-h-screen">
    <Header />
    <main class="flex-1 py-6 px-2 lg:px-12 container mx-auto">
        <slot />
    </main>
    <Footer />
</body>
</html>